html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

h1{
  font-family:ubuntu;
  color: white;
}
h2, h3, h4, h5, h6{
  font-family:ubuntu;
  color: white;
}
span{
  color:#C01616;
}
p{
  font-family:ubuntu;
}
a.solid{
  border-style:solid;
}
a:link{
  font-family:ubuntu;
  text-decoration: none;
  color:#C01616;
}

a:visited{
  color:#C01616;
}

a:hover{
  color:#929292;
}

a:active{
  color:#242294;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

body
{
  background-color: black;
}

.quotes {
  padding: 20px 50px;
  min-height: 200px;
}

.quote-text {
  padding-bottom: 20px;
  font-size: 25px;
  color: black;
}

.controls {
  width: 100%;
  padding: 20px 50px;
}

.button {
  display: block;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.new-quote {
  background-color: #4A2B0F;
  margin-bottom: 15px;
}

.new-quote:hover {
  background-color: #6d3b0e;
}

.new-quote:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.container
{
  height: 20px;
  background-color: #CCC;
  width: 300px;
  margin-left: 145px;
  position: relative;
  border-radius: 7px;
}

.container .progress-bar
{
  position: absolute;
  height: 100%;
  border-radius: 7px;
  background-color: blue;
}

#play-animation
{
  animation: progress-animation 5s forwards;
}

@keyframes progress-animation
{
  0% {width: 0%;}
  100% {width: 100%;}
}
