h1{
  font-family:ubuntu;
  text-align:center;
  border-bottom:solid;
  border-bottom-color:#242294;
}
h2, h3, h4, h5, h6{
  font-family:ubuntu;
}
h2{
  border:solid;
  border-color:#242294;
  text-align:center;
}
h3{
  border:solid;
  border-color:#242294;
  text-align:center;

}
span{
  color:#C01616;
}
p{
  font-family:ubuntu;
}
a.solid{
  border-style:solid;
}
a:link{
  font-family:ubuntu;
  color:#C01616;
}

a:visited{
  color:#929292;
}

a:hover{
  color:#242294;
}

a:active{
  color:#242294;
}

@media only screen and (max-width 600px){
  h1
  {
    color: blue;
  }
}
